@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Final Project Individual Members Page CSS
   
   Author: Josiah Moore

*/
img {
padding-top:10px;
padding-right:20px;
 width: 300px;
 height:350px;
 object-fit: cover;
 float:left;
}

h1{text-align:center;}

footer{clear:both;}